body {
    padding: 10px;
}
.card-img-container {
    height: 200px; /* Set your desired fixed height */
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mb-4 {
    margin-bottom: 1.5rem !important; /* Adjust spacing between cards */
}

