{% extends "auctions/layout.html" %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        {% if listings %}
            {% for listing in listings %}
                {% if listing.closed %}
                {%  else%}
                <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex"> <!-- Adjusted to fit 5 cards per row -->
                    <a href="{% url 'listing' listing.title listing.id %}" class="text-decoration-none text-dark w-100">
                        <div class="card h-100">
                            <div class="card-img-container">
                                {% if listing.url %}
                                    <img class="card-img-top" src="{{ listing.url.url }}" alt="Card image cap">
                                {% else %}
                                    <p class="text-center">No Image available</p>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ listing.title }}</h5>
                                <p class="card-text">{{ listing.description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Starting Bid: ${{ listing.price }}</li>
                                {% if listing.current_bid %}
                                    <li class="list-group-item">Current Bid: ${{ listing.current_bid }}</li>
                                {% else %}
                                    <li class="list-group-item">Current Bid: N/A</li>
                                {% endif %}
                                <li class="list-group-item">On since {{ listing.created_at }}</li>
                            </ul>
                            <form action="{% url 'your_listings' user.username %}" method="post">
                                {% csrf_token %}
                                <div class="card-body text-center">
                                    <button class="btn btn-primary" name="remove" value="{{ listing.id }}">Remove Listing</button>
                                </div>
                            </form>
                        </div>
                    </a>
                </div>
                {%endif%}
            {% endfor %}
        {% else %}
            <h1>No listings placed</h1>
        {% endif %}
    </div>
</div>
{% endblock %}
